*{  /*las medidas gneerales*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cursor{
    cursor: pointer;
}
.w-40{width: 40%;}
.w-30{width: 30%;}
.w-75{width: 75%;}
.w-60{width: 60%;}
.w-80{width: 80%;}
.w-95{width: 95%;}
.vh-85{min-height: 85vh;}
.vh-60{min-height: 60vh;}

.letra{
    font-size: 17px;
    font-weight: 600;
}
.letra_2{
    font-size: 18px;
    
}
.links{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
}
.links:hover, .menus:hover{background-color: rgb(151, 222, 255);}
.links:active, .menus:active{background-color: rgb(119, 211, 253);}


/* login */
.fondo{
    background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../assets/fondo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}
.form_form{
    height: 300px;
    width: 400px;
    padding: 20px 30px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.31);
    text-align: center;
    overflow: hidden;
    margin: 10px 0;
}

.form-control:focus{
    --bs-dark-border-subtle: rgb(0, 0, 0);
}

/* inicio */
.Boton_Inicio{
    width: 330px;
    height: 110px;
    background-color: rgb(51, 178, 255);
    border: 2px solid rgb(35, 170, 253);
    border-radius: 30px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0); 
    font-size: 1.3rem;
}
.Boton_Inicio:hover{
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0); 
    background-color: rgb(23, 166, 254);
    border: 4px solid rgb(35, 148, 253);
}
.Boton_Inicio:active{
    background-color: rgb(0, 122, 198);
    border: 4px solid rgb(0, 139, 225);
}
.Boton_Inicio img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
/* registro */

.fondo_2{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.281)), url(../assets/fondo_3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.fondo_20{
    background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../assets/fondo_3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.accion{
    width: max-content;
}
.accion:hover{
    box-shadow: 0 .1rem 0.5rem rgba(0, 0, 0); 
    border-radius: 100px;
}
.accion:active{
    background-color: rgb(153, 214, 255);
    box-shadow: 0 .1rem 0.5rem rgba(0, 0, 0); 
}

.bbuscar{
    width:230px;
    height: 70px;
    background-color: rgb(51, 178, 255);
    border: 3px solid rgb(35, 170, 253);
    border-radius: 13px;
    box-shadow:  2px 3px  3px rgba(0, 0, 0, 0.527); 
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.bbuscar:hover{
    background-color: rgb(35, 167, 249);
    border: 6px solid rgb(6, 160, 255);
    box-shadow:  3px 3px 6px rgba(0, 0, 0, 0.527); 
}
.bbuscar:active{
    background-color: rgb(0, 137, 222);
    border: 6px solid rgb(0, 137, 222);
    box-shadow:  3px 3px 6px rgba(0, 0, 0, 0.527); 
}
.bAgregar{
    background-color: rgb(13, 202, 240);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(13, 193, 230);
    border-radius: 15px;
    box-shadow:  2px 3px rgba(0, 0, 0, 0.356); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.bAgregar:hover{
    background-color: rgb(5, 184, 220);
    border: 3px solid rgb(13, 193, 230);
    box-shadow:  2px 3px 5px rgba(0, 0, 0, 0.356); 
}
.bAgregar:active{
    background-color: rgb(0, 130, 156);
    border: 3px solid rgb(0, 130, 156);
    box-shadow:  2px 3px 3px rgba(0, 0, 0, 0.356); 
}
.bGuardar{
    background-color: rgb(27, 190, 32);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(30, 168, 35);
    border-radius: 15px;
    box-shadow:  2px 3px rgba(0, 0, 0, 0.356); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.bGuardar:hover, .bMuestra:hover{
    background-color: rgb(17, 219, 23);
    border: 3px solid rgb(16, 185, 22);
    box-shadow:  2px 3px 5px rgba(0, 0, 0, 0.356); 
}
.bGuardar:active, .bMuestra:active{
    background-color: rgb(8, 157, 13);
    border: 3px solid rgb(8, 157, 13);
    box-shadow:  2px 3px 5px rgba(0, 0, 0, 0.356); 
}
.bEliminar{
    background-color: rgb(220, 108, 9);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(224, 96, 10);
    border-radius: 15px;
    box-shadow:  2px 3px rgba(0, 0, 0, 0.356); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.th-1{
    width: 180px;
    height: 31px;
}
.th-2{
    width: 400px;
    height: 31px;
}
.th-3{
    width: 180px;
    height: 31px;
}
.th-4{
    width: 140px;
    height: 31px;
}
.th-5{
    width: 95px;
    height: 31px;
}
.tabla{
    height: 200px;
    overflow-y: auto;
}

.b-registro-muestra{
    position: absolute;
    top:0;
    right: 0;
    margin: 30px 30px;
    background-color: rgb(0, 157, 255);
    border: 2px solid rgb(35, 170, 253);
    color: rgb(0, 0, 0);
    box-shadow:  2px 3px rgba(0, 0, 0, 0.411); 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 5px 10px;
}
.b-registro-muestra:hover{
    background-color: rgb(62, 175, 246);
    border: 2px solid rgb(35, 170, 253);
    box-shadow:  2px 3px 3px rgba(0, 0, 0, 0.411); 
}
.b-registro-muestra:active{
    background-color: rgb(0, 149, 255);
    border: 2px solid rgb(9, 140, 221);
    box-shadow:  2px 3px 3px rgba(0, 0, 0, 0.411); 
}
.bMuestra{
    width: 180px;
    background-color: rgb(33, 177, 38);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(30, 168, 35);
    box-shadow:  2px 3px rgba(0, 0, 0, 0.411); 
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.hr{
    height: 2px;
    background-color: rgb(0, 0, 0)  ;
    margin: 15px 0;
}

.shadow_t{
    box-shadow: 0 0 10px rgb(0 0 0 / 70%);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100%;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    --clip:polygon(0 1%, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
    clip-path: var(--clip);
    /* transition:transform 0.3s ease-in-out; */
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 1;
}
.ver-menu{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.buscador:focus{
    outline: none;
}

